
.code-editor {
    -fx-background-color: #1f1f1f;
    -fx-fill: rgb(204, 204, 204);
    -fx-caret-color: #ffcc00;
    -fx-highlight-fill: #4b6eaf;
    -fx-highlight-text-fill: #ffffff;
    -fx-font-family: "Block Craft Medium";
    -fx-font-size: 18px;
}

.code-editor .caret {
    -fx-stroke: #ffcc00; 
}

.code-editor .selection {
    -fx-fill: #4b6eaf; 
}

.grid-pane {
    -fx-background-color: rgb(49,49,49);
}


.keyword    { -fx-fill: rgb(201, 146, 164); -fx-font-family: "Block Craft Medium";}
.literal    { -fx-fill: rgb(181, 206, 168); -fx-font-family: "Block Craft Medium";}
.function   { -fx-fill: rgb(220, 220, 170); -fx-font-family: "Block Craft Medium";}
.identifier { -fx-fill: rgb(156, 220, 254); -fx-font-family: "Block Craft Medium";}
.number     { -fx-fill: rgb(204, 167, 0); -fx-font-family: "Block Craft Medium";}
.comment    { -fx-fill: rgb(106, 153, 85); -fx-font-style: italic; -fx-font-family: "Block Craft Medium";}
.paren      { -fx-fill: rgb(218, 112, 214); -fx-font-family: "Block Craft Medium";}
.bracket    { -fx-fill: rgb(218, 112, 214); -fx-font-family: "Block Craft Medium";}
.default    { -fx-fill: rgb(199, 199, 199); -fx-font-family: "Block Craft Medium";}

.slider {
    -fx-pref-width: 300px;
    -fx-pref-height: 20px;
    -fx-background-color: transparent;
}

.slider .track {-fx-background-color: transparent;}

.slider .thumb {
    -fx-pref-width: 12px;
    -fx-pref-height: 12px;
    -fx-background-image: url("images/slide_selector.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 12px 12px;
    -fx-padding: 0;
}
